<h1> Check out this cool concert! </h1>

<ul>
	<li>
		Artist: <%= @display_concert.artist %>
	</li>
	<li>
		City: <%= @display_concert.city %>
	</li>
	<li>
		Date: <%= @display_concert.date%>
	</li>
	<li>
		Price: $<%= @display_concert.price %>
	</li>
	<li>
		Venue: <%= @display_concert.venue %>
	</li>
	<li>
		Description: <%= @display_concert.description %>
	</li>

</ul>